body {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
}

h2, h4, h5, #result, #forget2, #textmain {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

#forget2, #textmain {
	margin-top: 50px;
	font-size: 20px;
}

#car {
	margin-top: 30px;
}

h4 {
	margin-top: 75px;
}

#result {
	font-size: 15px;
}

#welcome, #inscriptiontitle, #settingtitle, #forgettitle {
	border-bottom: 0 solid  #1c2833;
	font-family: 'Josefin Sans', sans-serif;
	color:  #283747;
	font-style: 20px;
}

#popexpens {
	font-family: 'Lobster', cursive;
	margin-top: 0;
	font-size: 40px;
	color:  #283747;
}

#formindex, #formregister, #formsetting, #formtravel, #formfees, #formforget {
	border: 0 solid;
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 70px;
	border-radius: 10px;
	background-color: rgba(40, 55, 71, 0.15);
	height: 285px;
}

#formindex {
	margin-bottom: 20px;
}

#formtravel {
	margin-top: 20px;
	height: 540px;
}

#formforget {
	height: 140px;
}

#formfees {
	margin-top: 20px;
	height: 350px;
}

#formregister {
	height: 435px;
}

#formsetting {
	height: 380px;
	margin-bottom: 10px;
}

#forget {
	margin-top: 20px;
}

#labelindex {
	font-family: 'Josefin Sans', sans-serif;
}

#cvM {
	display: none;
}

#buttons {
	text-align: center;
	margin-bottom: 5px;
}
.img {
	position: absolute;
	bottom: 0;
	right: 50px;
}
